:root {
    --content-margin: 1rem;
}

@font-face {
    font-family: "HeptaSlab";
    src: url("assets/fonts/HeptaSlab-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Onest-Regular";
    src: url("assets/fonts/Onest-Regular.ttf");
}

@media all and (min-width: 600px) and (min-height: 500px) {
    body {
        --content-margin: 20px 15% 0 5%;
    }
}

@media all and (min-width: 900px) and (min-height: 500px) {
    body {
        --content-margin: 30px 25% 0 5%;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Onest-Regular", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: var(--content-margin);
}

footer {
    margin: var(--content-margin);
    text-align: center;
}

footer > * {
    margin-bottom: 32px;
}

section {
    margin-bottom: 42px;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: HeptaSlab;
}

h1 {
    font-size: 1.2em;
    font-weight: 500;
}

h2 {
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

sup {
    line-height: 0;
    font-size: 0.8em;
}

.content-list li {
    line-height: 1.5em;
    margin-bottom: 6px;
}

.quote {
    margin: 0;
    margin-bottom: 24px;
}

.quote blockquote {
    font-style: italic;
    margin: 0;
    margin-bottom: 8px;
}

.quote figcaption {
    margin: 0;
}

.footnotes {
    padding-left: 1rem;
    text-align: left;
    max-width: 600px;
}

.footnotes li {
    color: grey;
    font-size: 0.8rem;
}

.footnotes li:target {
    background-color: #fffbcc;
    color: inherit;
}
