:root {
  --content-margin: 1rem;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('assets/fonts/Raleway-Regular.ttf');
  font-display: fallback;
}

@media all and (min-width: 767px) and (min-height: 500px) {
  main {
    --content-margin: 100px 25% 0 25%;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin: var(--content-margin);
}

footer {
  flex-shrink: 0;
  height: 30px;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3em;
  font-weight: lighter;
  font-stretch: expanded;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.no-wrap {
  white-space: nowrap;
}

.privacy-policy p {
  text-align: left;
}
